<li id="project-<%= project.id %>">
  <!-- <%= link_to gravatar_for(project.user), project.user %> -->
  <span class="user"><%= link_to project.user.name, project.user %></span>
  <span class="title"><%= project.title %></span>
  <span class="timestamp">
    Created <%= time_ago_in_words(project.created_at) %> ago.
    <% if current_user?(project.user) %>
      <%= link_to 'delete', project, method: :delete, data: {confirm: "You sure?" } %>
    <% end %>
  </span>
</li>