<li id="project-<%= project.id %>">
  <span class="title"><%= link_to project.title, project %></span>
  <span class="description"><%= project.description %></span>
  <span class="user">Project Admin: <%= project.user.name %></span>
  <span class="timestamp">
    Created <%= time_ago_in_words(project.created_at) %> ago.
    <% if current_user?(project.user) %>
      <%= link_to 'delete', project, method: :delete, data: {confirm: "You sure?" } %> | 
      <%= link_to 'edit', edit_project_path(project) %>
    <% end %>
  </span>
</li>